<div class="row mt-3">

    <div class="col-md-6">
   
       <!-- default accordions -->
       <div class="card acard">
           <div class="card-header">
               <h4 class="text-primary-d2 text-130 mb-0">
                   Default Accordions
               </h4>
           </div>
           
           <div class="card-body px-2">
               <div NgAceAccordion>
                   <div class="card">
                       <div class="card-header" id="headingOne">
                           <h2 class="card-title">
                               <a NgAceAccordionToggle>
                                   <i class="fa fa-angle-right toggle-icon mr-1"></i>
                                   Collapsible Group Item #1
                               </a>
                           </h2>
                       </div>
   
                       <div NgAceAccordionCard [ngbCollapse]="false" aria-labelledby="headingOne">
                           <div class="card-body border-1 border-t-0 brc-primary-l1 radius-b-1">
                               Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                           </div>
                       </div>
                   </div>
                   
                   <div class="card">
                       <div class="card-header" id="headingTwo">
                           <h2 class="card-title">
                               <a NgAceAccordionToggle class="collapsed">
                                   <i class="fa fa-angle-right toggle-icon mr-1"></i>
                                   Collapsible Group Item #2
                               </a>
                           </h2>
                       </div>
                       <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingTwo">
                           <div class="card-body border-1 border-t-0 brc-primary-l1 radius-b-1">
                               Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                           </div>
                       </div>
                   </div>
   
                   <div class="card">
                       <div class="card-header" id="headingThree">
                           <h2 class="card-title">
                               <a NgAceAccordionToggle class="d-style collapsed">
                                   <i class="fa fa-plus d-collapsed mr-1"></i>
                                   <i class="fa fa-minus d-n-collapsed mr-1"></i>
                                   Collapsible Group Item #3
                               </a>
                           </h2>
                       </div>
                       <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingThree">
                           <div class="card-body border-1 border-t-0 brc-primary-l1 radius-b-1">
                               Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                           </div>
                       </div>
                   </div>
               </div><!-- /.accordion -->
           </div><!-- /.card-body -->
       </div><!-- /.card -->
   
   
   
   
   
       <!-- Custom styles -->
       <div class="mt-45 card ccard">
           <div class="card-header">
               <h4 class="text-120 mb-0">
                   Custom Styles
               </h4>
           </div>
           
           <div class="card-body p-2">
               <div NgAceAccordion>
                   <div class="card radius-0">
                       <div class="card-header border-0" id="headingOne2">
                           <h2 class="card-title text-dark-tp2 bgc-green-l2">
                               <!-- use custom .btn classes -->
                               <a NgAceAccordionToggle class="collapsed btn btn-light-dark text-600 bgc-white bgc-h-green-l3 d-style radius-0">
                                   <span class="position-r mr-3 opacity-3 text-120">
                                       <i class="far fa-plus-square d-collapsed"></i>
                                       <i class="far fa-minus-square d-n-collapsed"></i>
                                   </span>
                                   Squid single-origin #1
                               </a>
                           </h2>
                       </div>
   
                       <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingOne2">
                           <div class="card-body px-4 text-grey-m1">
                               <div class="alert bgc-secondary-l4 border-0 border-l-5 brc-default-m1 radius-0 text-dark-tp2">
                                   <i class="fa fa-exclamation-circle text-orange-d2 mr-1 text-140"></i>                                
                                   You can have custom accordion styles by using existing HTML elements and CSS classes!
                               </div>
                               Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                           </div>
                       </div>
                   </div>
   
                   
                   <div class="card radius-0">
                       <div class="card-header border-0" id="headingTwo2">
                           <h2 class="card-title text-dark-tp2 bgc-green-l2">
                               <a NgAceAccordionToggle class="collapsed btn btn-light-dark text-600 bgc-white bgc-h-green-l3 d-style radius-0">
                                   <span class="position-r mr-3 opacity-3 text-120">
                                       <i class="far fa-plus-square d-collapsed"></i>
                                       <i class="far fa-minus-square d-n-collapsed"></i>
                                   </span>
                                    Terry richardson ad #2
                               </a>
                           </h2>
                       </div>
   
                       <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingTwo2">
                           <div class="card-body px-4 text-grey-m1">
                               Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                           </div>
                       </div>
                   </div>
   
   
                   <div class="card radius-0">
                       <div class="card-header border-0" id="headingThree2">
                           <h2 class="card-title text-dark-tp2 bgc-green-l2">
                               <a NgAceAccordionToggle class="collapsed btn btn-light-dark text-600 bgc-white bgc-h-green-l3 collapsed d-style radius-0">
                                   <span class="position-r mr-3 opacity-3 text-120">
                                       <i class="far fa-plus-square d-collapsed"></i>
                                       <i class="far fa-minus-square d-n-collapsed"></i>
                                   </span>
                                   Moon officia aute #3
                               </a>
                           </h2>
                       </div>
    
                       <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingThree2">
                           <div class="card-body px-4 text-grey-m1">
                               Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   
   
   
       <!-- the accordion with yellow header -->
       <div class="mt-45 card acard">
           <div class="card-body p-1px radius-1">
               <div NgAceAccordion>
                   <div class="card radius-1">
                       <div class="card-header" id="headingOne3">
                           <h2 class="card-title">
                               <a NgAceAccordionToggle class="btn btn-yellow d-style radius-b-0">
                                   <span class="mr-3 position-rc px-15 py-1 text-center bgc-white radius-round">
                                       <i class="fa fa-angle-down w-2 mx-2px toggle-icon text-orange-d3"></i>
                                   </span>
                                   Collapsible Group Item #1
                               </a>
                           </h2>
                       </div>
   
                       <div NgAceAccordionCard [ngbCollapse]="false" aria-labelledby="headingOne3">
                           <div class="card-body border-1 border-t-0 brc-black-tp10 radius-t-0">
                               Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                           </div>
                       </div>
                   </div>
                   
                   <div class="card mt-0 radius-1">
                       <div class="card-header" id="headingTwo3">
                           <h2 class="card-title bgc-info-m2 text-white">
                               <a NgAceAccordionToggle class="collapsed btn btn-light-secondary bgc-h-info-l1 text-dark-tp3 pl-5 radius-b-0">
                                   <span class="position-tl h-100 w-5 bgc-black-tp8 text-center pt-25">
                                       <i class="toggle-icon fa fa-angle-right text-white"></i>
                                   </span>                                
                                   &nbsp; Collapsible Group Item #2
                               </a>
                           </h2>
                       </div>
                       <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingTwo3">
                           <div class="card-body border-1 border-t-0 brc-black-tp10 radius-t-0">
                               Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                           </div>
                       </div>
                   </div>
   
                   <div class="card radius-1 mt-0">
                       <div class="card-header" id="headingThree3">
                           <h2 class="card-title bgc-green-l2 text-dark-tp4 brc-green-m1">
                               <a NgAceAccordionToggle class="collapsed d-style btn btn-lighter-dark btn-h-light-green btn-a-light-green border-l-4 radius-0 pl-3">
                                   <i class="fa fa-plus d-collapsed mr-1 opacity-2"></i>
                                   <i class="fa fa-minus d-n-collapsed mr-1"></i>
                                   Collapsible Group Item #3
                               </a>
                           </h2>
                       </div>
                       <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingThree3">
                           <div class="card-body border-1 border-t-0 brc-black-tp10 radius-t-0">
                               Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   
    </div><!-- /.col-md-6 -->
   
   
   
   
   
    <div class="col-md-6">
   
      <div class="card ccard bgc-black-tp10 mt-4 mt-md-0 overflow-hidden">
       <div class="card-body p-0">
           <div NgAceAccordion>
               <div class="card border-0 bgc-green-l5">
                   <div class="card-header border-0 bgc-transparent mb-0" id="headingOne4">
                       <h2 class="card-title bgc-transparent text-green-d2 brc-green">
                           <a NgAceAccordionToggle class="collapsed d-style btn btn-white bgc-white btn-brc-tp btn-h-outline-green btn-a-outline-green border-l-3 radius-0">
                               1. Anim pariatur cliche
   
                               <!-- the toggle icon -->
                               <span class="v-collapsed px-3px radius-round d-inline-block brc-grey-l1 border-1 mr-3 text-center position-rc">
                                   <i class="fa fa-angle-down toggle-icon w-2 mx-1px text-90"></i>
                               </span>
                               <span class="v-n-collapsed px-3px radius-round d-inline-block bgc-green mr-3 text-center position-rc">
                                   <i class="fa fa-angle-down toggle-icon w-2 mx-1px text-white text-90 pt-1px"></i>
                               </span>                        
                           </a>
                       </h2>
                   </div>
   
                   <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingOne4">
                       <div class="card-body pt-1 text-dark-m1 border-l-3 brc-green bgc-green-l5">
                           <p>
                               High life accusamus terry richardson ad squid.
                           </p>
                           <p>
                               Moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                           </p>
                           <p>
                               Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                           </p>
                       </div>
                   </div>
               </div>
   
   
               <div class="card border-0 mt-1px bgc-primary-l5">
                   <div class="card-header border-0 bgc-transparent mb-0" id="headingTwo4">
                       <h2 class="card-title bgc-transparent text-primary-d1 brc-primary-m1">
                           <a NgAceAccordionToggle class="collapsed d-style btn btn-white bgc-white btn-brc-tp btn-h-outline-primary btn-a-outline-primary border-l-3 radius-0">
                               2. Coffee nulla assumenda
   
                               <!-- the toggle icon -->
                               <span class="v-collapsed px-3px radius-round d-inline-block brc-grey-l1 border-1 mr-3 text-center position-rc">
                                   <i class="fa fa-angle-down toggle-icon w-2 mx-1px text-90"></i>
                               </span>
                               <span class="v-n-collapsed px-3px radius-round d-inline-block bgc-primary mr-3 text-center position-rc">
                                   <i class="fa fa-angle-down toggle-icon w-2 mx-1px text-white text-90 pt-1px"></i>
                               </span>                            
                           </a>
                       </h2>
                   </div>
                   <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingTwo4">
                       <div class="card-body pt-1 text-dark-m1 border-l-3 brc-primary-m1 bgc-primary-l5">
                           <p>
                               Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                           </p>
                           <p>
                               3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                           </p>
                           <p>
                               Food truck quinoa nesciunt laborum eiusmod.
                           </p>
                       </div>
                   </div>
               </div>
   
   
               <div class="card border-0 mt-1px bgc-purple-l5">
                   <div class="card-header border-0 bgc-transparent mb-0" id="headingThree4">
                       <h2 class="card-title bgc-transparent text-purple-d2 brc-purple-m1">
                           <a NgAceAccordionToggle class="collapsed d-style btn btn-white bgc-white btn-brc-tp btn-h-outline-purple btn-a-outline-purple border-l-3 radius-0">
                               3. Ad vegan excepteur
   
                               <!-- the toggle icon -->
                               <span class="v-collapsed px-3px radius-round d-inline-block brc-grey-l1 border-1 mr-3 text-center position-rc">
                                   <i class="fa fa-angle-down toggle-icon w-2 mx-1px text-90"></i>
                               </span>
                               <span class="v-n-collapsed px-3px radius-round d-inline-block bgc-purple mr-3 text-center position-rc">
                                   <i class="fa fa-angle-down toggle-icon w-2 mx-1px text-white text-90 pt-1px"></i>
                               </span>                            
                           </a>
                       </h2>
                   </div>
                   <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingThree4">
                       <div class="card-body pt-1 text-dark-m1 border-l-3 brc-purple-m1 bgc-purple-l5">
                           <p>
                               Enim eiusmod high life accusamus terry richardson ad squid.
                           </p>
                           <p>
                               Non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                           </p>
                           <p>
                               Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                           </p> 
                       </div>
                   </div>
               </div>
           </div>
   
       </div>
      </div><!-- /.card -->
   
   
   
     <div class="mt-45 card acard">
       <div class="card-body p-0 bgc-white">
           <!-- the accordion with sub-accordion -->
           <div NgAceAccordion>
               <div class="card border-0 radius-0">
                   <div class="card-header border-0 bgc-transparent mb-0" id="headingOne5">
                       <h2 class="card-title bgc-info-d3 text-white brc-black-tp7">
                           <a NgAceAccordionToggle class="btn btn-info bgc-info-d1 radius-0 d-style border-l-5 btn-brc-tp">
                               <i class="d-collapsed fa fa-plus-square mr-1 text-105 text-white"></i>
                               <i class="d-n-collapsed fa fa-minus-square mr-1 text-105 text-white"></i>
   
                               Collapsible Group Item #1
                           </a>
                       </h2>
                   </div>
   
                   <div NgAceAccordionCard [ngbCollapse]="false" aria-labelledby="headingOne5">
                       <div class="card-body p-0">
                           
                           <!-- sub group -->
                           <div class="card bcard h-auto">
                               <div class="card-body p-0 bgc-white">
                                   <div NgAceAccordion>
                                       <div class="card border-0">
                                           <div class="card-header border-0 bgc-transparent mb-0" id="headingOne50">
                                               <h2 class="card-title text-info-d2">
                                                   <a NgAceAccordionToggle class="collapsed btn btn-white btn-h-lighter-info btn-a-lighter-info pl-5">
                                                       <i class="fa fa-angle-right toggle-icon mr-15"></i>
                                                       Sub Group Item #1
                                                   </a>
                                               </h2>
                                           </div>
   
                                           <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingOne50">
                                               <div class="card-body pl-5 pt-1 ml-2 text-justify">
                                                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                               </div>
                                           </div>
                                       </div>
   
   
                                       <div class="card border-0 mt-1px">
                                           <div class="card-header border-0 bgc-transparent mb-0" id="headingTwo50">
                                               <h2 class="card-title text-info-d2">
                                                   <a NgAceAccordionToggle class="collapsed btn btn-white btn-h-lighter-info btn-a-lighter-info pl-5">
                                                       <i class="fa fa-angle-right toggle-icon mr-15"></i>
                                                       Sub Group Item #2
                                                   </a>
                                               </h2>
                                           </div>
                                           <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingTwo50">
                                               <div class="card-body pl-5 pt-1 ml-2 text-justify">
                                                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                               </div>
                                           </div>
                                       </div>
   
   
                                       <div class="card border-0 mt-1px">
                                           <div class="card-header border-0 bgc-transparent mb-0" id="headingThree50">
                                               <h2 class="card-title text-info-d2">
                                                   <a NgAceAccordionToggle class="collapsed btn btn-white btn-h-lighter-info btn-a-lighter-info pl-5">
                                                       <i class="fa fa-angle-right toggle-icon mr-15"></i>
                                                       Sub Group Item #3
                                                   </a>
                                               </h2>
                                           </div>
                                           <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingThree50">
                                               <div class="card-body pl-5 pt-1 ml-2 text-justify">
                                                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                               </div>
                                           </div>
                                       </div>
   
                                   </div>
   
                               </div>
                           </div>
      
                       </div>
                   </div>
               </div>
   
   
               <div class="card border-0 mt-1px radius-0">
                   <div class="card-header border-0 bgc-transparent mb-0" id="headingTwo5">
                       <h2 class="card-title bgc-info-d3 text-white brc-black-tp7">
                           <a NgAceAccordionToggle class="collapsed btn btn-info bgc-info-d1 radius-0 d-style border-l-5 btn-brc-tp">
                               <i class="d-collapsed fa fa-plus-square mr-1 text-105 text-white"></i>
                               <i class="d-n-collapsed fa fa-minus-square mr-1 text-105 text-white"></i>
                               Collapsible Group Item #2
                           </a>
                       </h2>
                   </div>
                   <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingTwo5">
                       <div class="card-body">
                           Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                       </div>
                   </div>
               </div>
   
   
               <div class="card border-0 mt-1px radius-0">
                   <div class="card-header border-0 bgc-transparent mb-0" id="headingThree5">
                       <h2 class="card-title bgc-info-d3 text-white brc-black-tp7">
                           <a NgAceAccordionToggle class="collapsed btn btn-info bgc-info-d1 radius-0 d-style border-l-5 btn-brc-tp">
                               <i class="d-collapsed fa fa-plus-square mr-1 text-105 text-white"></i>
                               <i class="d-n-collapsed fa fa-minus-square mr-1 text-105 text-white"></i>
                               Collapsible Group Item #3
                           </a>
                       </h2>
                   </div>
                   <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingThree5">
                       <div class="card-body">
                           Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                       </div>
                   </div>
               </div>
   
           </div><!-- end of the accordion with sub-accordion -->
   
       </div>
      </div>
   
   
   
   
      <div class="mt-45 card acard">
       <div class="card-body py-4 px-2">
           <!-- the last accordion group -->
           <div NgAceAccordion>
               <div class="card border-0 radius-0">
                   <div class="card-header" id="headingOne6">
                       <h2 class="card-title bgc-primary-l3 text-dark-tp4 brc-primary-tp1">
                           <a NgAceAccordionToggle class="btn py-3 btn-lighter-secondary brc-h-primary-m1 border-l-6 radius-0">
                               <i class="fa fa-angle-right toggle-icon mr-2 text-95"></i>
                               Collapsible Group Item #1
                           </a>
                       </h2>
                   </div>
   
                   <div NgAceAccordionCard [ngbCollapse]="false" aria-labelledby="headingOne6">
                       <div class="card-body bgc-primary-l5">
                           Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                       </div>
                   </div>
               </div>
   
   
               <div class="card border-0 radius-0 mt-3">
                   <div class="card-header" id="headingTwo6">
                       <h2 class="card-title bgc-green-l3 text-dark-tp4 brc-green-tp1">
                           <a NgAceAccordionToggle class="collapsed btn py-3 btn-lighter-secondary brc-h-green-m1 border-l-6 radius-0">
                               <i class="fa fa-angle-right toggle-icon mr-2 text-95"></i>
                               Collapsible Group Item #2
                           </a>
                       </h2>
                   </div>
   
                   <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingTwo6">
                       <div class="card-body bgc-green-l5">
                           Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                       </div>
                   </div>
               </div>
   
   
               <div class="card border-0 radius-0 mt-3">
                   <div class="card-header" id="headingThree6">
                       <h2 class="card-title bgc-brown-l3 text-dark-tp4 brc-brown-tp1">
                           <a NgAceAccordionToggle class="collapsed btn py-3 btn-lighter-secondary brc-h-brown-m1 border-l-6 radius-0">
                               <i class="fa fa-angle-right toggle-icon mr-2 text-95"></i>
                               Collapsible Group Item #3
                           </a>
                       </h2>
                   </div>
   
                   <div NgAceAccordionCard [ngbCollapse]="true" aria-labelledby="headingThree6">
                       <div class="card-body bgc-brown-l5">
                           Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                       </div>
                   </div>
               </div>
   
           </div>
   
       </div>
      </div>
   
    </div>
   </div>