<div id="inbox-compose-dialog"  bsModal #composeDialog="bs-modal" [config]='{"backdrop": false}' NgAceModal class="modal modal-nb ace-aside aside-bottom aside-r aside-fade aside-offset aside-shown-above-nav" tabindex="-1" role="dialog" aria-hidden="false">

    <div class="modal-dialog modal-dialog-scrollable mr-2 my-2" style="width: 640px;" role="document">
      <div class="modal-content border-0 mb-2 radius-1 shadow">
        <div class="modal-header bgc-dark-d3 border-0 text-white pt-25 pb-2">
            <h5 class="text-110 py-0 my-0">
              New Message
            </h5>
  
            <a role="button" class="action-btn text-white bgc-h-white-tp9 radius-1 px-2 py-1" (click)="composeDialog.hide()">
              <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="modal-body px-0 pb-0 overflow-hidden">
          <form autocomplete="off" class="d-flex flex-column">
              <div class="form-group">
                  <div class="flex-grow-1 px-2">
                      <input type="text" class="px-1 brc-grey-l2 form-control border-none border-b-1 shadow-none radius-0" id="id-form-field-1" placeholder="Recipients" />
                  </div>
              </div>
  
  
              <div class="form-group my-2">
                  <div class="flex-grow-1 px-2">
                      <input type="text" class="px-1 brc-grey-l2 form-control border-none border-b-1 shadow-none radius-0" i1d="id-form-field-1" placeholder="Subject">
                  </div>
              </div>
  
  
              <div class="form-group mt-3 mb-0">
                  <div class="w-100 compose-editor">
                    <jodit-editor [config]="config"></jodit-editor>
                  </div>
              </div>
  
          </form>
  
        </div>
  
        <div class="modal-footer justify-content-start bgc-secondary-l4">
            <button type="button" class="btn btn-blue py-15 px-4 ml-2">
              Send
            </button>
  
            <div class="ml-3 pl-3 border-l-1 brc-secondary-l1">
              <a (click)="toggleToolbar()" role="button" class="btn btn-tp btn-white">
                  <i class="fa fa-font"></i>
              </a>
  
              <a role="button" class="btn btn-tp btn-white">
                  <i class="fa fa-paperclip"></i>
              </a>
  
              <div class="dropdown d-inline-block">
                  <a role="button" class="btn btn-tp btn-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="far fa-smile text-125"></i>
                  </a>
  
                  <div class="dropdown-menu dropdown-menu-right p-1">
                      <div class="d-flex ">
                          <a class="dropdown-item px-25" role="button">
                              <span class="fa-stack w-auto">
                                  <i class="fas fa-circle text-dark fa-stack-1x text-100"></i>
                                  <i class="fas fa-smile text-warning-m3 text-125 fa-stack-1x pos-rel"></i>
                              </span>
                          </a>
  
                          <a class="dropdown-item px-25" role="button">
                              <span class="fa-stack w-auto">
                                  <i class="fas fa-circle text-dark fa-stack-1x text-100"></i>
                                  <i class="fas fa-smile-beam text-warning-m3 text-125 fa-stack-1x pos-rel"></i>
                              </span>
                          </a>
  
                          <a class="dropdown-item px-25" role="button">
                              <span class="fa-stack w-auto">
                                  <i class="fas fa-circle text-dark fa-stack-1x text-100"></i>
                                  <i class="fas fa-smile-wink text-warning-m3 text-125 fa-stack-1x pos-rel"></i>
                              </span>
                          </a>
                      </div>
                  </div>
              </div>
            </div>
  
            <div class="ml-auto">
                <span class="text-grey-d1 text-95 mr-2">Draft saved at 9:21 pm</span>
                <a role="button" class="btn btn-tp btn-outline-grey btn-h-lighter-danger btn-a-lighter-danger">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
      </div>
  
      <!-- the button that toggles modal -->
      <!--
      <div class="aside-header fade position-br mb-5 d-flex align-items-center">
          <button type="button" class="shadow ml-2 btn btn-info radius-round mw-auto px-35 py-25"  data-toggle="modal" data-target="#aside-compose">
             <i class="fa fa-pen mr-1"></i>
             Compose
          </button> 
      </div>
      -->
    </div>
  
  </div>