<!-- page header and toolbox -->
<div class="page-header pb-2">
    <h1 class="page-title text-primary-d2 text-150">
        Dashboard
        <small class="page-info text-secondary-d2 text-nowrap">
            <i class="fa fa-angle-double-right text-80"></i>
            <span *ngIf="!isUpdate && !isView">Add User</span>
            <span *ngIf="isUpdate">Update User</span>
            <span *ngIf="isView">View User</span>
        </small>
    </h1>
</div>
<div class="row mt-3">
    <div class="col-12" *ngIf="!isView">
        <form [formGroup]="adduser" autocomplete="off">
            <div class="card dcard">
                <div class="card bgc-primary-d1 text-white">
                    <div class="card-header">
                        <div class="card-toolbar mr-auto no-border">
                            <label class="mb-0">
                            <span class="align-middle d-block d-sm-inline text-600">
                                User Information
                            </span>
                        </label>
                        </div>
                    </div>
                </div>
                <div class="card-body px-1 px-md-3">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0 col-form-label">
                                Organization
                              </label>
                        </div>
                        <div class="col-md-4">
                            <select id="organizationid" formControlName="organizationid" class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1" [ngClass]="{'border-danger': ((addnewuserFormControl.organizationid.touched || submitted) && addnewuserFormControl.organizationid.errors?.required)}">
                                <option value="">--Select--</option>
                                <option *ngFor="let data of organizationlist" value={{data.User_ID}}>{{data.FullName}}</option>  
                              </select>
                            <span class="form-text text-danger" *ngIf="(addnewuserFormControl.organizationid.touched || submitted) && (addnewuserFormControl.organizationid.errors?.required || addnewuserFormControl.organizationid.invalid)">
                                {{getErrorMessage('organizationid')}}
                            </span>
                        </div>
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                                Group
                              </label>
                        </div>
                        <div class="col-md-4">
                            <select id="groupid" formControlName="groupid" class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1" [ngClass]="{'border-danger': ((addnewuserFormControl.groupid.touched || submitted) && addnewuserFormControl.groupid.errors?.required)}">
                                <option value="">--Select--</option>
                                <option *ngFor="let data of grouplist" value={{data.User_Group_ID}}>{{data.User_Group_Name}}</option>  
                              </select>
                            <span class="form-text text-danger" *ngIf="(addnewuserFormControl.groupid.touched || submitted) && (addnewuserFormControl.groupid.errors?.required || addnewuserFormControl.groupid.invalid)">
                                {{getErrorMessage('groupid')}}
                            </span>
                        </div>
                        <!-- <div class="col-md-2">
                            <label for="id-form-field-1"  class="mb-0 col-form-label">
                                User Logo
                              </label>
                        </div>
                        <div class="col-md-4">
                            <input type="file" id="file" accept="image/*" (change)="handleInputChange($event)">
                        </div> -->
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                                First Name
                              </label>
                        </div>
                        <div class="col-md-4">
                            <input id="firstname" type="text" formControlName="firstname" maxlength="20" class="form-control" placeholder="First Name" [ngClass]="{'border-danger': ((addnewuserFormControl.firstname.touched || submitted) && addnewuserFormControl.firstname.errors?.required)}">
                            <span class="form-text text-danger" *ngIf="(addnewuserFormControl.firstname.touched || submitted) && (addnewuserFormControl.firstname.errors?.required || addnewuserFormControl.firstname.invalid)">
                                {{getErrorMessage('firstname')}}
                            </span>
                        </div>
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                                Last Name
                              </label>
                        </div>
                        <div class="col-md-4">
                            <input id="lastname" type="text" formControlName="lastname" maxlength="20" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                                Gender
                              </label>
                        </div>
                        <div class="col-md-4">
                            <select id="gender" formControlName="gender" class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1" [ngClass]="{'border-danger': ((addnewuserFormControl.gender.touched || submitted) && addnewuserFormControl.gender.errors?.required)}">
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Other</option>
                              </select>
                            <span class="form-text text-danger" *ngIf="(addnewuserFormControl.gender.touched || submitted) && (addnewuserFormControl.gender.errors?.required || addnewuserFormControl.gender.invalid)">
                                {{getErrorMessage('gender')}}
                            </span>
                        </div>
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                                Email ID
                              </label>
                        </div>
                        <div class="col-md-4">
                            <input id="email" type="text" formControlName="email" class="form-control" maxlength="50" placeholder="Email ID" [ngClass]="{'border-danger': ((addnewuserFormControl.email.touched || submitted) && addnewuserFormControl.email.errors?.required)}">
                            <span class="form-text text-danger" *ngIf="(addnewuserFormControl.email.touched || submitted) && (addnewuserFormControl.email.errors?.required || addnewuserFormControl.email.invalid)">
                                {{getErrorMessage('email')}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                                Mobile No.
                          </label>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                </div>
                                <input id="mobile" type="text" formControlName="mobile" class="form-control form-control-md" placeholder="Mobile No." maxlength="15" inputmode="text" [ngClass]="{'border-danger': ((addnewuserFormControl.mobile.touched || submitted) && addnewuserFormControl.mobile.errors?.required)}">
                            </div>
                            <span class="form-text text-danger" *ngIf="(addnewuserFormControl.mobile.touched || submitted) && (addnewuserFormControl.mobile.errors?.required || addnewuserFormControl.mobile.invalid)">
                                {{getErrorMessage('mobile')}}
                            </span>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </div><br>
            <div class="card dcard">
                <div class="card bgc-primary-d1 text-white">
                    <div class="card-header">
                        <div class="card-toolbar mr-auto no-border">
                            <label class="mb-0">
                            <span class="align-middle d-block d-sm-inline text-600">
                                Login Information
                            </span>
                        </label>
                        </div>
                    </div>
                </div>
                <div class="card-body px-1 px-md-3">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                            User Name
                            </label>
                        </div>
                        <div class="col-md-4">
                            <input id="username" type="text" formControlName="username" maxlength="10" class="form-control" placeholder="User Name" [ngClass]="{'border-danger': ((addnewuserFormControl.username.touched || submitted) && addnewuserFormControl.username.errors?.required)}">

                            <span class="form-text text-danger" *ngIf="(addnewuserFormControl.username.touched || submitted) && (addnewuserFormControl.username.errors?.required || addnewuserFormControl.username.invalid)">
                            {{getErrorMessage('username')}}
                        </span>
                        </div>
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                            Password
                            </label>
                        </div>
                        <div class="col-md-4">
                            <div class="d-inline-flex align-items-center">
                                <input id="id-form-field-password-toggle" #inputPassword [attr.type]="isPassword ? 'password' : 'text'" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{'border-danger': ((addnewuserFormControl.password.touched || submitted) && addnewuserFormControl.password.errors?.required)}">
                                <a role="button" (click)="isPassword = !isPassword; inputPassword.focus()" class="btn btn-sm border-0 btn-white btn-h-light-orange btn-a-light-orange text-100 ml-n5 no-underline radius-1 d-style">
                                    <i class="fa fa-eye{{isPassword ? '-slash': ''}} text-90 w-3"></i>
                                </a>
                            </div>
                            <span class="form-text text-danger" *ngIf="(addnewuserFormControl.password.touched || submitted) && (addnewuserFormControl.password.errors?.required || addnewuserFormControl.password.invalid)">
                            {{getErrorMessage('password')}}
                        </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                            Re type Password
                            </label>
                        </div>
                        <div class="col-md-4">
                            <input id="repassword" type="password" formControlName="repassword" class="form-control" placeholder="Re type Password" (change)="onPasswordChange()" [ngClass]="{'border-danger': ((addnewuserFormControl.repassword.touched || submitted) && addnewuserFormControl.repassword.errors?.required)}">

                            <span class="form-text text-danger" *ngIf="(addnewuserFormControl.repassword.touched || submitted) && (addnewuserFormControl.repassword.errors?.required || addnewuserFormControl.repassword.invalid)">
                            {{getErrorMessage('repassword')}}
                        </span>
                            <span class="form-text text-danger" *ngIf="!passwordmatch">Password do not match.</span>
                        </div>
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                            Is Active
                        </label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" formControlName="is_active" id="is_active" class="input-lg text-secondary-l1 bgc-purple-d1 ml-2 ace-switch ace-switch-onoff align-middle" [ngClass]="{ 'is-invalid': ((addnewuserFormControl.is_active.touched || submitted) && addnewuserFormControl.is_active.errors?.required)}">

                            <span class="form-text text-danger" *ngIf="(addnewuserFormControl.is_active.touched || submitted) && (addnewuserFormControl.is_active.errors?.required || addnewuserFormControl.is_active.invalid)">
                            {{getErrorMessage('is_active')}}
                        </span>
                        </div>
                    </div>
                    <div class="mt-5 border-t-1 bgc-secondary-l4 brc-secondary-l2 py-35 mx-n25">
                        <div class="offset-md-3 col-md-9 text-nowrap">
                            <button class="btn btn-green btn-bold px-4" type="button" (click)="addnewuser()">
                          <i class="fa fa-check mr-1"></i>
                          <span *ngIf="!isUpdate">Submit</span>
                          <span *ngIf="isUpdate">Update</span>
                        </button>

                            <button class="btn btn-outline-lightgrey btn-bgc-white btn-bold ml-2 px-4" type="reset" (click)="cancel()">
                          <i class="fa fa-undo mr-1"></i>
                          Cancel
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12" *ngIf="isView">
        <form [formGroup]="adduser" autocomplete="off">
            <div class="card dcard">
                <div class="card bgc-primary-d1 text-white">
                    <div class="card-header">
                        <div class="card-toolbar mr-auto no-border">
                            <label class="mb-0">
                            <span class="align-middle d-block d-sm-inline text-600">
                                User Information
                            </span>
                        </label>
                        </div>
                    </div>
                </div>
                <div class="card-body px-1 px-md-3">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="text-dark-tp3 opacity-1 text-110 text-600 pl-4">
                                Organization
                              </label>
                        </div>
                        <div class="col-md-4">
                            <label for="id-form-field-1" class="mb-0">
                                {{userdetail.Username}}
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="text-dark-tp3 opacity-1 text-110 text-600 pl-4">
                                Group
                              </label>
                        </div>
                        <div class="col-md-4">
                            <label for="id-form-field-1" class="mb-0">
                                {{userdetail.User_Group_Name}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="text-dark-tp3 opacity-1 text-110 text-600 pl-4">
                                First Name
                              </label>
                        </div>
                        <div class="col-md-4">
                            <label for="id-form-field-1" class="mb-0">
                                {{userdetail.FirstName}}
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="text-dark-tp3 opacity-1 text-110 text-600 pl-4">
                                Last Name
                              </label>
                        </div>
                        <div class="col-md-4">
                            <label for="id-form-field-1" class="mb-0">
                                {{userdetail.LastName}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="text-dark-tp3 opacity-1 text-110 text-600 pl-4">
                                Gender
                              </label>
                        </div>
                        <div class="col-md-4">
                            <label for="id-form-field-1" class="mb-0">
                                {{userdetail.Gender_Type}}
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="text-dark-tp3 opacity-1 text-110 text-600 pl-4">
                                Email ID
                              </label>
                        </div>
                        <div class="col-md-4">
                            <label for="id-form-field-1" class="mb-0">
                                {{userdetail.Email}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="text-dark-tp3 opacity-1 text-110 text-600 pl-4">
                                Mobile No.
                          </label>
                        </div>
                        <div class="col-md-4">
                            <label for="id-form-field-1" class="mb-0">
                                {{userdetail.MobileNo}}
                            </label>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </div><br>
            <div class="card dcard">
                <div class="card bgc-primary-d1 text-white">
                    <div class="card-header">
                        <div class="card-toolbar mr-auto no-border">
                            <label class="mb-0">
                            <span class="align-middle d-block d-sm-inline text-600">
                                Login Information
                            </span>
                        </label>
                        </div>
                    </div>
                </div>
                <div class="card-body px-1 px-md-3">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="text-dark-tp3 opacity-1 text-110 text-600 pl-4">
                            User Name
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label for="id-form-field-1" class="mb-0">
                                {{userdetail.Username}}
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="text-dark-tp3 opacity-1 text-110 text-600 pl-4">
                            Is Active
                        </label>
                        </div>
                        <div class="col-md-4">
                            <label for="id-form-field-1" class="mb-0">
                                {{userdetail.Is_Active}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>