<div ref="eLabel" class="ag-header-cell-label actions" role="presentation" unselectable="on" id="grid">
    <!-- <a role="button" [routerLink]="params.viewRouterLink + id" class="mx-2px btn radius-1 border-2 btn-xs btn-brc-tp btn-light-secondary btn-h-lighter-danger btn-a-lighter-danger">
        <i class="p-3 py-4 mb-2 bg-light text-center rounded"></i>
    </a> -->
    <button class="btn btn-default btn-sm mb-1" [routerLink]="params.viewRouterLink + id">
      Add Session
    </button>
</div>
