<div *ngIf="!isClosed()" class="card dcard p-1 bgc-secondary-l3">
    <div class="card-body p-1 p-sm-2 p-lg-3">
        <div #card="NgAceCard" NgAceCard class="card">
            <div class="card-header">
                <h5 class="card-title text-120 text-default-d3">
                    With Distance
                </h5>
                
                <div class="card-toolbar no-border  align-self-center">
                    <span class="badge badge-primary px-25">
                        9%
                        <i class="fa fa-arrow-up"></i>
                    </span>
                </div>

                <div class="card-toolbar">
                    <a role="button" (click)="reload()" class="card-toolbar-btn btn btn-sm radius-1 btn-light-success btn-brc-tp mx-2px">
                        <i class="fas fa-sync-alt w-2 mx-1px"></i>
                    </a>

                    <a role="button" (click)="toggle()" class="card-toolbar-btn btn btn-sm radius-1 btn-light-default btn-brc-tp mx-2px">
                        <i *ngIf="!collapse.collapsed" class="fa fa-angle-up w-2 mx-1px"></i>
                        <i *ngIf="collapse.collapsed" class="fa fa-angle-down w-2 mx-1px"></i>
                    </a>

                    <a role="button" (click)="close()" class="card-toolbar-btn btn btn-sm radius-1 btn-light-danger btn-brc-tp mx-2px">
                        <i class="fa fa-times w-2 mx-1px"></i>
                    </a>
                </div>
            </div><!-- /.card-header -->

            <div class="card-body p-0" #collapse="ngbCollapse" [ngbCollapse]="defaultExpanded()">
             <div class="p-3">
                <p>
                    Est placerat in egestas erat. Arcu bibendum at varius vel pharetra vel turpis. Tristique risus nec feugiat in fermentum posuere urna nec.
                </p>
                <p class="mb-0">
                    Neque vitae tempus quam pellentesque nec nam!
                </p>
             </div>
            </div><!-- /.card-body -->
        </div>
    </div>
  </div>