<!-- page header and toolbox -->
<div class="page-header pb-2">
    <h1 class="page-title text-primary-d2 text-150">
        Dashboard
        <small class="page-info text-secondary-d2 text-nowrap">
            <i class="fa fa-angle-double-right text-80"></i>
            Update Customer
        </small>
    </h1>
</div>
<div class="row mt-3">
    <div class="col-12">
        <!-- ** Green nav-tabs background -->
        <div class="card-body p-0">
            <ul ngbNav #nav4="ngbNav" [destroyOnHide]="false" [animation]="false" [(activeId)]="nav4active" class="w-100 nav nav-tabs nav-tabs-simple bgc-green-d2 radius-t-1 pt-2 pl-2">
                <li [ngbNavItem]="1" class="nav-item mr-3px">
                    <a ngbNavLink [NgAceClass]='{"-1": "nav-link"}' class="btn btn-brc-tp btn-outline-white btn-h-light-green btn-h-text-dark btn-a-text-green btn-a-white px-3 px-lg-4 py-25 border-0 radius-b-0">
                        Customer Detail
                    </a>
                    <ng-template ngbNavContent>
                        <div class="p-2">

                            <form class="mt-lg-3" [formGroup]="addcustomer" autocomplete="off">
                                <div class="form-group">
                                    <div class="card dcard">
                                        <div class="card bgc-primary-d1 text-white">
                                            <div class="card-header">
                                                <div class="card-toolbar mr-auto no-border">
                                                    <label class="mb-0">
                                                        <span class="align-middle d-block d-sm-inline text-600">
                                                            Personal Detail
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Father's First Name
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="fatherfirstrname" type="text" formControlName="fatherfirstrname" placeholder="Father's First Name" class="form-control" [ngClass]="{'border-danger': ((addcustomerFormControl.fatherfirstrname.touched || submitted) && addcustomerFormControl.fatherfirstrname.errors?.required)}">
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.fatherfirstrname.touched || submitted) && (addcustomerFormControl.fatherfirstrname.errors?.required || addcustomerFormControl.fatherfirstrname.invalid)">
                                                        {{getErrorMessage('fatherfirstrname')}}
                                                    </span>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Father's Last Name
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="fatherlastname" type="text" formControlName="fatherlastname" placeholder="Father's Last Name" class="form-control" [ngClass]="{'border-danger': ((addcustomerFormControl.fatherlastname.touched || submitted) && addcustomerFormControl.fatherlastname.errors?.required)}">
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.fatherlastname.touched || submitted) && (addcustomerFormControl.fatherlastname.errors?.required || addcustomerFormControl.fatherlastname.invalid)">
                                                        {{getErrorMessage('fatherlastname')}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Mother's First Name
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="motherfirstname" type="text" formControlName="motherfirstname" placeholder="Mother's First Name" class="form-control" [ngClass]="{'border-danger': ((addcustomerFormControl.motherfirstname.touched || submitted) && addcustomerFormControl.motherfirstname.errors?.required)}">
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.motherfirstname.touched || submitted) && (addcustomerFormControl.motherfirstname.errors?.required || addcustomerFormControl.motherfirstname.invalid)">
                                                        {{getErrorMessage('motherfirstname')}}
                                                    </span>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Mother's Last Name
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="motherlastname" type="text" formControlName="motherlastname" placeholder="Mother's Last Name" class="form-control" [ngClass]="{'border-danger': ((addcustomerFormControl.motherlastname.touched || submitted) && addcustomerFormControl.motherlastname.errors?.required)}">
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.motherlastname.touched || submitted) && (addcustomerFormControl.motherlastname.errors?.required || addcustomerFormControl.motherlastname.invalid)">
                                                        {{getErrorMessage('motherlastname')}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Father's Cell No.
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="fathercellno" type="text" formControlName="fathercellno" placeholder="Father's Cell No." class="form-control" [ngClass]="{'border-danger': ((addcustomerFormControl.fathercellno.touched || submitted) && addcustomerFormControl.fathercellno.errors?.required)}">
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.fathercellno.touched || submitted) && (addcustomerFormControl.fathercellno.errors?.required || addcustomerFormControl.fathercellno.invalid)">
                                                        {{getErrorMessage('fathercellno')}}
                                                    </span>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Mother's Cell No.
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="mothercellno" type="text" formControlName="mothercellno" placeholder="Mother's Cell No." class="form-control" [ngClass]="{'border-danger': ((addcustomerFormControl.mothercellno.touched || submitted) && addcustomerFormControl.mothercellno.errors?.required)}">
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.mothercellno.touched || submitted) && (addcustomerFormControl.mothercellno.errors?.required || addcustomerFormControl.mothercellno.invalid)">
                                                        {{getErrorMessage('mothercellno')}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Father's Email
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="fatheremail" type="text" formControlName="fatheremail" placeholder="Father's Email" class="form-control" [ngClass]="{'border-danger': ((addcustomerFormControl.fatheremail.touched || submitted) && addcustomerFormControl.fatheremail.errors?.required)}">
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.fatheremail.touched || submitted) && (addcustomerFormControl.fatheremail.errors?.required || addcustomerFormControl.fatheremail.invalid)">
                                                        {{getErrorMessage('fatheremail')}}
                                                    </span>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Mother's Email
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="motheremail" type="text" formControlName="motheremail" placeholder="Mother's Email" class="form-control" [ngClass]="{'border-danger': ((addcustomerFormControl.motheremail.touched || submitted) && addcustomerFormControl.motheremail.errors?.required)}">
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.motheremail.touched || submitted) && (addcustomerFormControl.motheremail.errors?.required || addcustomerFormControl.motheremail.invalid)">
                                                        {{getErrorMessage('motheremail')}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Home Phone
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="homephone" type="text" formControlName="homephone" placeholder="Home Phone" class="form-control" [ngClass]="{'border-danger': ((addcustomerFormControl.homephone.touched || submitted) && addcustomerFormControl.homephone.errors?.required)}">
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.homephone.touched || submitted) && (addcustomerFormControl.homephone.errors?.required || addcustomerFormControl.homephone.invalid)">
                                                        {{getErrorMessage('homephone')}}
                                                    </span>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Education Consultant
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <select id="educationconsultant" formControlName="educationconsultant" class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1" [ngClass]="{'border-danger': ((addcustomerFormControl.educationconsultant.touched || submitted) && addcustomerFormControl.educationconsultant.errors?.required)}">
                                                        <option value="">--Select--</option>
                                                        <option *ngFor="let data of educationconsultantlist"
                                                            value={{data.User_ID}}>{{data.FullName}}</option>
                                                    </select>
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.educationconsultant.touched || submitted) && (addcustomerFormControl.educationconsultant.errors?.required || addcustomerFormControl.educationconsultant.invalid)">
                                                        {{getErrorMessage('educationconsultant')}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="card dcard">
                                        <div class="card bgc-primary-d1 text-white">
                                            <div class="card-header">
                                                <div class="card-toolbar mr-auto no-border">
                                                    <label class="mb-0">
                                                        <span class="align-middle d-block d-sm-inline text-600">
                                                            Address Detail
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">

                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Address 1
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <textarea id="address1" type="text" formControlName="address1" placeholder="Address 1" class="form-control" [ngClass]="{'border-danger': ((addcustomerFormControl.address1.touched || submitted) && addcustomerFormControl.address1.errors?.required)}"></textarea>
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.address1.touched || submitted) && (addcustomerFormControl.address1.errors?.required || addcustomerFormControl.address1.invalid)">
                                                        {{getErrorMessage('address1')}}
                                                    </span>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Address 2
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <textarea id="address2" type="text" formControlName="address2" placeholder="Address 2" class="form-control" [ngClass]="{'border-danger': ((addcustomerFormControl.address2.touched || submitted) && addcustomerFormControl.address2.errors?.required)}"></textarea>
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.address2.touched || submitted) && (addcustomerFormControl.address2.errors?.required || addcustomerFormControl.address2.invalid)">
                                                        {{getErrorMessage('address2')}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Country
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <select id="countryid" formControlName="countryid" #mySelect (change)='geState(mySelect.value)' class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1" [ngClass]="{'border-danger': ((addcustomerFormControl.countryid.touched || submitted) && addcustomerFormControl.countryid.errors?.required)}">
                                                        <option value="">--Select--</option>
                                                        <option *ngFor="let data of countrylist"
                                                            value={{data.Country_ID}}>{{data.Country}}</option>
                                                    </select>
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.countryid.touched || submitted) && (addcustomerFormControl.countryid.errors?.required || addcustomerFormControl.countryid.invalid)">
                                                        {{getErrorMessage('countryid')}}
                                                    </span>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        State
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <select id="stateid" formControlName="stateid" class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1" [ngClass]="{'border-danger': ((addcustomerFormControl.stateid.touched || submitted) && addcustomerFormControl.stateid.errors?.required)}">
                                                        <option value="">--Select--</option>
                                                        <option *ngFor="let data of statelist" value={{data.State_ID}}>
                                                            {{data.State}}</option>
                                                    </select>
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.stateid.touched || submitted) && (addcustomerFormControl.stateid.errors?.required || addcustomerFormControl.stateid.invalid)">
                                                        {{getErrorMessage('stateid')}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        City
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="city" type="text" formControlName="city" placeholder="City" class="form-control" [ngClass]="{'border-danger': ((addcustomerFormControl.city.touched || submitted) && addcustomerFormControl.city.errors?.required)}">
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.city.touched || submitted) && (addcustomerFormControl.city.errors?.required || addcustomerFormControl.city.invalid)">
                                                        {{getErrorMessage('city')}}
                                                    </span>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Postal Code
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="postalcode" type="text" formControlName="postalcode" placeholder="Postal Code" class="form-control" [ngClass]="{'border-danger': ((addcustomerFormControl.postalcode.touched || submitted) && addcustomerFormControl.postalcode.errors?.required)}">
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.postalcode.touched || submitted) && (addcustomerFormControl.postalcode.errors?.required || addcustomerFormControl.postalcode.invalid)">
                                                        {{getErrorMessage('postalcode')}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="card dcard">
                                        <div class="card bgc-primary-d1 text-white">
                                            <div class="card-header">
                                                <div class="card-toolbar mr-auto no-border">
                                                    <label class="mb-0">
                                                        <span class="align-middle d-block d-sm-inline text-600">
                                                            Login Information
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        User Name
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="username" type="text" formControlName="username" maxlength="10" class="form-control" placeholder="User Name" [ngClass]="{'border-danger': ((addcustomerFormControl.username.touched || submitted) && addcustomerFormControl.username.errors?.required)}">

                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.username.touched || submitted) && (addcustomerFormControl.username.errors?.required || addcustomerFormControl.username.invalid)">
                                                        {{getErrorMessage('username')}}
                                                    </span>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Password
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="d-inline-flex align-items-center">
                                                        <input id="id-form-field-password-toggle" #inputPassword [attr.type]="isPassword ? 'password' : 'text'" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{'border-danger': ((addcustomerFormControl.password.touched || submitted) && addcustomerFormControl.password.errors?.required)}">
                                                        <a role="button" (click)="isPassword = !isPassword; inputPassword.focus()" class="btn btn-sm border-0 btn-white btn-h-light-orange btn-a-light-orange text-100 ml-n5 no-underline radius-1 d-style">
                                                            <i class="fa fa-eye{{isPassword ? '-slash': ''}} text-90 w-3"></i>
                                                        </a>
                                                    </div>
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.password.touched || submitted) && (addcustomerFormControl.password.errors?.required || addcustomerFormControl.password.invalid)">
                                                        {{getErrorMessage('password')}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Re type Password
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input id="repassword" type="password" formControlName="repassword" class="form-control" placeholder="Re type Password" (change)="onPasswordChange()" [ngClass]="{'border-danger': ((addcustomerFormControl.repassword.touched || submitted) && addcustomerFormControl.repassword.errors?.required)}">

                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.repassword.touched || submitted) && (addcustomerFormControl.repassword.errors?.required || addcustomerFormControl.repassword.invalid)">
                                                        {{getErrorMessage('repassword')}}
                                                    </span>
                                                    <span class="form-text text-danger" *ngIf="!passwordmatch">Password
                                                        do not match.</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <label for="id-form-field-1" class="mb-0">
                                                        Is Active
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="checkbox" formControlName="is_active" id="is_active" class="input-lg text-secondary-l1 bgc-purple-d1 ml-2 ace-switch ace-switch-onoff align-middle" [ngClass]="{ 'is-invalid': ((addcustomerFormControl.is_active.touched || submitted) && addcustomerFormControl.is_active.errors?.required)}">
                                                    <span class="form-text text-danger" *ngIf="(addcustomerFormControl.is_active.touched || submitted) && (addcustomerFormControl.is_active.errors?.required || addcustomerFormControl.is_active.invalid)">
                                                        {{getErrorMessage('is_active')}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="mt-5 border-t-1 bgc-secondary-l4 brc-secondary-l2 py-35 mx-n25">
                                    <div class="offset-md-3 col-md-9 text-nowrap">
                                        <button class="btn btn-green btn-bold px-4" type="button" (click)="addnewcustomer()">
                                            <i class="fa fa-check mr-1"></i>
                                            Submit
                                        </button>

                                        <button class="btn btn-outline-lightgrey btn-bgc-white btn-bold ml-2 px-4" type="reset" (click)="cancel()">
                                            <i class="fa fa-undo mr-1"></i>
                                            Cancel
                                        </button>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    </ng-template>
                </li>

                <li [ngbNavItem]="2" class="nav-item mr-3px">
                    <a ngbNavLink [NgAceClass]='{"-1": "nav-link"}' class="btn btn-brc-tp btn-outline-white btn-h-light-green btn-h-text-dark btn-a-text-green btn-a-white px-3 px-lg-4 py-25 border-0 radius-b-0">
                        Subscription Detail
                    </a>
                    <ng-template ngbNavContent>


                        <form #form [formGroup]="addpackage">
                            <div class="form-group">
                                <div class="card dcard">
                                    <!-- <div class="card bgc-primary-d1 text-white">
                                        <div class="card-header">
                                            <div class="card-toolbar mr-auto no-border">
                                                <label class="mb-0">
                                                <span class="align-middle d-block d-sm-inline text-600">
                                                    Package Detail
                                                </span>
                                            </label>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                <label for="id-form-field-1" class="mb-0">
                                                Subscription Date <span class="text-danger">*</span>
                                            </label>
                                            </div>
                                            <div class="col-md-4">
                                                <input id="subscriptiondate" type="date" min="{{subscriptionStartMinDate}}" formControlName="subscriptiondate" #selectField (change)="subscriptionEndDateFilter(selectField.value)" placeholder="Subscription Date" class="form-control" [ngClass]="{'border-danger': ((addpackageFormControl.subscriptiondate.touched || submitted) && addpackageFormControl.subscriptiondate.errors?.required)}">
                                                <span class="form-text text-danger" *ngIf="(addpackageFormControl.subscriptiondate.touched || submitted) && (addpackageFormControl.subscriptiondate.errors?.required || addpackageFormControl.subscriptiondate.invalid)">
                                                {{getErrorPackageMessage('subscriptiondate')}}
                                            </span>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="id-form-field-1" class="mb-0">
                                                Subscription End Date <span class="text-danger">*</span>
                                            </label>
                                            </div>
                                            <div class="col-md-4">
                                                <input id="subscriptionenddate" type="date" min="{{subscriptionEndMinDate}}" formControlName="subscriptionenddate" placeholder="Subscription End Date" class="form-control" [ngClass]="{'border-danger': ((addpackageFormControl.subscriptionenddate.touched || submitted) && addpackageFormControl.subscriptionenddate.errors?.required)}">
                                                <span class="form-text text-danger" *ngIf="(addpackageFormControl.subscriptionenddate.touched || submitted) && (addpackageFormControl.subscriptionenddate.errors?.required || addpackageFormControl.subscriptionenddate.invalid)">
                                                {{getErrorPackageMessage('subscriptionenddate')}}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                <label for="id-form-field-1" class="mb-0">
                                                Package <span class="text-danger">*</span>
                                            </label>
                                            </div>
                                            <div class="col-md-4">
                                                <select id="packageid" formControlName="packageid" (change)="getpackageDetail($event)" class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1" [ngClass]="{'border-danger': ((addpackageFormControl.packageid.touched || submitted) && addpackageFormControl.packageid.errors?.required)}">
                                                <option value="">--Select--</option>
                                                <option *ngFor="let data of packagelist"
                                                    value={{data.Package_ID}}>{{data.Package}}</option>
                                            </select>
                                                <span class="form-text text-danger" *ngIf="(addpackageFormControl.packageid.touched || submitted) && (addpackageFormControl.packageid.errors?.required || addpackageFormControl.packageid.invalid)">
                                                {{getErrorPackageMessage('packageid')}}
                                            </span>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="id-form-field-1" class="mb-0">
                                                Package Price
                                            </label>
                                            </div>
                                            <div class="col-md-4">
                                                <input id="packageprice" type="text" formControlName="packageprice" placeholder="Package Price" class="form-control" [ngClass]="{'border-danger': ((addpackageFormControl.packageprice.touched || submitted) && addpackageFormControl.packageprice.errors?.required)}">
                                                <span class="form-text text-danger" *ngIf="(addpackageFormControl.packageprice.touched || submitted) && (addpackageFormControl.packageprice.errors?.required || addpackageFormControl.packageprice.invalid)">
                                                {{getErrorPackageMessage('packageprice')}}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                <label for="id-form-field-1" class="mb-0">
                                                Session Type
                                            </label>
                                            </div>
                                            <div class="col-md-4">
                                                <select id="sessionstypeperiod" formControlName="sessionstypeperiod" class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1">
                                                <option value="">--Select--</option>
                                                <option value="0">Weekly</option>
                                                <option value="1">Monthly</option>
                                            </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="id-form-field-1" class="mb-0">
                                                Session Visits
                                            </label>
                                            </div>
                                            <div class="col-md-4">
                                                <select id="sessions" formControlName="sessions" class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1">
                                                <option value="">--Select--</option>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                <label for="id-form-field-1" class="mb-0">
                                                Report
                                            </label>
                                            </div>
                                            <div class="col-md-4">
                                                <select id="report" formControlName="report" class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1">
                                                <option value="">--Select--</option>
                                                <option value="1">1 Weekly</option>
                                                <option value="2">2 Weekly</option>
                                            </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="id-form-field-1" class="mb-0">
                                                Hours
                                            </label>
                                            </div>
                                            <div class="col-md-4">
                                                <select id="hours" formControlName="hours" class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1">
                                                <option value="">--Select--</option>
                                                <option value="1">1 Hour</option>
                                                <option value="2">2 Hours</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">

                                            <div class="col-md-2">
                                                <label for="id-form-field-1" class="mb-0">
                                                Mode of payment <span class="text-danger">*</span>
                                            </label>
                                            </div>
                                            <div class="col-md-4">
                                                <select id="paymenttypeid" formControlName="paymenttypeid" class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1" [ngClass]="{'border-danger': ((addpackageFormControl.paymenttypeid.touched || submitted) && addpackageFormControl.paymenttypeid.errors?.required)}">
                                                <option value="">--Select--</option>
                                                <option *ngFor="let data of paymentmodelist"
                                                    value={{data.Payment_Type_ID}}>{{data.Payment_Type}}</option>
                                            </select>
                                                <span class="form-text text-danger" *ngIf="(addpackageFormControl.paymenttypeid.touched || submitted) && (addpackageFormControl.paymenttypeid.errors?.required || addpackageFormControl.paymenttypeid.invalid)">
                                                {{getErrorPackageMessage('paymenttypeid')}}
                                            </span>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </li>

                <li [ngbNavItem]="3" class="nav-item mr-3px">
                    <a ngbNavLink [NgAceClass]='{"-1": "nav-link"}' class="btn btn-brc-tp btn-outline-white btn-h-light-green btn-h-text-dark btn-a-text-green btn-a-white px-3 px-lg-4 py-25 border-0 radius-b-0">
                        Student Details
                    </a>
                    <ng-template ngbNavContent>

                        <form #form [formGroup]="addstudent">
                            <div class="card dcard">
                                <!-- <div class="card bgc-primary-d1 text-white">
                                    <div class="card-header">
                                        <div class="card-toolbar mr-auto no-border">
                                            <label class="mb-0">
                            <span class="align-middle d-block d-sm-inline text-600">
                                Add Student
                            </span>
                        </label>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="card-body">
                                    <div class="form-group row">
                                        <div class="col-md-2">
                                            <label for="id-form-field-1" class="mb-0">
                            First Name <span class="text-danger">*</span>
                        </label>
                                        </div>
                                        <div class="col-md-4">
                                            <input id="studentfirstname" type="text" formControlName="studentfirstname" maxlength="50" class="form-control" placeholder="First Name" [ngClass]="{'border-danger': ((addstudentFormControl.studentfirstname.touched || submitted) && addstudentFormControl.studentfirstname.errors?.required)}">
                                            <span class="form-text text-danger" *ngIf="(addstudentFormControl.studentfirstname.touched || submitted) && (addstudentFormControl.studentfirstname.errors?.required || addstudentFormControl.studentfirstname.invalid)">
                            {{getErrorStudentMessage('studentfirstname')}}
                        </span>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="id-form-field-1" class="mb-0">
                            Last Name <span class="text-danger">*</span>
                        </label>
                                        </div>
                                        <div class="col-md-4">
                                            <input id="studentlastname" type="text" formControlName="studentlastname" maxlength="50" class="form-control" placeholder="Last Name" [ngClass]="{'border-danger': ((addstudentFormControl.studentlastname.touched || submitted) && addstudentFormControl.studentlastname.errors?.required)}">
                                            <span class="form-text text-danger" *ngIf="(addstudentFormControl.studentlastname.touched || submitted) && (addstudentFormControl.studentlastname.errors?.required || addstudentFormControl.studentlastname.invalid)">
                            {{getErrorStudentMessage('studentlastname')}}
                        </span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2">
                                            <label for="id-form-field-1" class="mb-0">
                            Grade <span class="text-danger">*</span>
                        </label>
                                        </div>
                                        <div class="col-md-4">
                                            <select id="gradeid" formControlName="gradeid" class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1" [ngClass]="{'border-danger': ((addstudentFormControl.gradeid.touched || submitted) && addstudentFormControl.gradeid.errors?.required)}">
                            <option value="">--Select--</option>
                            <option *ngFor="let data of gradelist"
                                value={{data.Level_ID}}>{{data.Level}}</option>
                        </select>
                                            <span class="form-text text-danger" *ngIf="(addstudentFormControl.gradeid.touched || submitted) && (addstudentFormControl.gradeid.errors?.required || addstudentFormControl.gradeid.invalid)">
                            {{getErrorStudentMessage('gradeid')}}
                        </span>
                                        </div>
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-green btn-bold px-4" type="button" (click)="addstudentlist()">
                            <i class="fa fa-check mr-1"></i>
                            <span>Update</span>
                          </button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group col-md-6">
                                        <table id="simple-table" class="mb-0 table table-borderless table-bordered-x brc-secondary-l3 text-dark-m2 radius-1 overflow-hidden">
                                            <thead class="text-dark-tp3 bgc-grey-l4 text-90 border-b-1 brc-transparent">
                                                <tr>
                                                    <th class="d-none d-sm-table-cell">Sr. No.</th>
                                                    <th class="d-none d-sm-table-cell">First Name</th>
                                                    <th class="d-none d-sm-table-cell">Last Name</th>
                                                    <th class="d-none d-sm-table-cell">Grade</th>
                                                    <th class="d-none d-sm-table-cell">Action</th>
                                                </tr>
                                            </thead>

                                            <tbody class="mt-1" *ngFor="let data of studentlist">
                                                <tr class="bgc-h-yellow-l4 d-style">
                                                    <td>{{ data.id}}</td>
                                                    <td>{{ data.firstname}}</td>
                                                    <td>{{ data.lastname}}</td>
                                                    <td>{{ data.gredeid}}</td>
                                                    <td>
                                                        <a href="javascript:void(0)" (click)="editStudent(data.id)" class="mx-2px btn radius-1 border-2 btn-xs btn-brc-tp btn-light-secondary btn-h-lighter-danger btn-a-lighter-danger">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" (click)="deleteStudent(data.id)" class="mx-2px btn radius-1 border-2 btn-xs btn-brc-tp btn-light-secondary btn-h-lighter-danger btn-a-lighter-danger">
                                                            <i class="fa fa-trash-alt"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav4" NgAceTabSwipe class="tab-sliding px-1 px-md-3 text-grey-d3 border-1 border-t-0 radius-b-1 brc-secondary-l2">
            </div>
        </div>
    </div>
</div>