<!-- page header and toolbox -->
<div class="page-header pb-2">
    <h1 class="page-title text-primary-d2 text-150">
        Dashboard
        <small class="page-info text-secondary-d2 text-nowrap">
            <i class="fa fa-angle-double-right text-80"></i>
            <span *ngIf="!isUpdate && !isView">Add Request</span>
            <span *ngIf="isUpdate">Update Request</span>
            <span *ngIf="isView">View Request</span>
        </small>
    </h1>
</div>
<div class="row mt-3">
    <div class="col-12" *ngIf="!isView">
        <form [formGroup]="addRequest" autocomplete="off">
            <div class="card dcard">
                <div class="card bgc-primary-d1 text-white">
                    <div class="card-header">
                        <div class="card-toolbar mr-auto no-border">
                            <label class="mb-0">
                            <span class="align-middle d-block d-sm-inline text-600">
                                Request Detail
                            </span>
                        </label>
                        </div>
                    </div>
                </div>
                <div class="card-body px-1 px-md-3">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                                Subject
                              </label>
                        </div>
                        <div class="col-md-4">
                            <input id="Subject" type="text" formControlName="Subject" maxlength="50" class="form-control" placeholder="Subject" [ngClass]="{'border-danger': ((addRequestFormControl.Subject.touched || submitted) && addRequestFormControl.Subject.errors?.required)}">
                            <span class="form-text text-danger" *ngIf="(addRequestFormControl.Subject.touched || submitted) && (addRequestFormControl.Subject.errors?.required || addRequestFormControl.Subject.invalid)">
                                {{getErrorMessage('Subject')}}
                            </span>
                        </div>
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                                Request Type
                              </label>
                        </div>
                        <div class="col-md-4">
                            <select id="RequestType" formControlName="RequestType" class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1" [ngClass]="{'border-danger': ((addRequestFormControl.RequestType.touched || submitted) && addRequestFormControl.RequestType.errors?.required)}">
                                <option value="1">Service Request</option>
                                <option value="2">Complaint</option>
                                <option value="3">Request</option>
                              </select>
                            <span class="form-text text-danger" *ngIf="(addRequestFormControl.RequestType.touched || submitted) && (addRequestFormControl.RequestType.errors?.required || addRequestFormControl.RequestType.invalid)">
                                {{getErrorMessage('RequestType')}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                                Description
                              </label>
                        </div>
                        <div class="col-md-4">
                            <textarea id="Description" type="text" formControlName="Description" maxlength="500" class="form-control" placeholder="Description" [ngClass]="{'border-danger': ((addRequestFormControl.Description.touched || submitted) && addRequestFormControl.Description.errors?.required)}">
                            </textarea>
                            <span class="form-text text-danger" *ngIf="(addRequestFormControl.Description.touched || submitted) && (addRequestFormControl.Description.errors?.required || addRequestFormControl.Description.invalid)">
                                {{getErrorMessage('Description')}}
                            </span>
                        </div>
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                                Created By
                              </label>
                        </div>
                        <div class="col-md-4">
                            <input id="CreatedBy" type="text" formControlName="CreatedBy" class="form-control" maxlength="50" placeholder="Created By" [ngClass]="{'border-danger': ((addRequestFormControl.CreatedBy.touched || submitted) && addRequestFormControl.CreatedBy.errors?.required)}">
                            <span class="form-text text-danger" *ngIf="(addRequestFormControl.CreatedBy.touched || submitted) && (addRequestFormControl.CreatedBy.errors?.required || addRequestFormControl.CreatedBy.invalid)">
                                {{getErrorMessage('CreatedBy')}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                                Related Customer
                          </label>
                        </div>
                        <div class="col-md-4">
                            <select id="RelatedCustomer" formControlName="RelatedCustomer" class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1" [ngClass]="{'border-danger': ((addRequestFormControl.RelatedCustomer.touched || submitted) && addRequestFormControl.RelatedCustomer.errors?.required)}">
                                <option value="1">PO No. Demo 1</option>
                                <option value="2">PO No. Demo 2</option>
                                <option value="3">PO No. Demo 3</option>
                              </select>
                            <span class="form-text text-danger" *ngIf="(addRequestFormControl.RelatedCustomer.touched || submitted) && (addRequestFormControl.RelatedCustomer.errors?.required || addRequestFormControl.RelatedCustomer.invalid)">
                                {{getErrorMessage('RelatedCustomer')}}
                            </span>
                        </div>
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                                Browse
                            </label>
                        </div>
                        <div class="col-md-4">
                            <input type="file" NgAceFile formControlName="File" class="ace-select no-border angle-double text-dark-tp3 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 border-2 brc-secondary-l1" [ngClass]="{'border-danger': ((addRequestFormControl.File.touched || submitted) && addRequestFormControl.File.errors?.required)}"
                            />
                            <span class="form-text text-danger" *ngIf="(addRequestFormControl.File.touched || submitted) && (addRequestFormControl.File.errors?.required || addRequestFormControl.File.invalid)">
                                {{getErrorMessage('File')}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                            Is Active
                        </label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" formControlName="IsActive" id="IsActive" class="input-lg text-secondary-l1 bgc-purple-d1 ml-2 ace-switch ace-switch-onoff align-middle" [ngClass]="{ 'is-invalid': ((addRequestFormControl.IsActive.touched || submitted) && addRequestFormControl.IsActive.errors?.required)}">

                            <span class="form-text text-danger" *ngIf="(addRequestFormControl.IsActive.touched || submitted) && (addRequestFormControl.IsActive.errors?.required || addRequestFormControl.IsActive.invalid)">
                                {{getErrorMessage('IsActive')}}
                            </span>
                        </div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="border-t-1 bgc-secondary-l4 brc-secondary-l2 py-35 mx-n25">
                            <div class="offset-md-3 col-md-9 text-nowrap">
                                <button class="btn btn-green btn-bold px-4" type="button" (click)="addnewuser()">
                                    <i class="fa fa-check mr-1"></i>
                                    <span *ngIf="!isUpdate">Submit</span>
                                    <span *ngIf="isUpdate">Update</span>
                                </button>
                                <button class="btn btn-outline-lightgrey btn-bgc-white btn-bold ml-2 px-4" type="reset" (click)="cancel()">
                                    <i class="fa fa-undo mr-1"></i>
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card dcard">
                <div class="card bgc-primary-d1 text-white">
                    <div class="card-header">
                        <div class="card-toolbar mr-auto no-border">
                            <label class="mb-0">
                            <span class="align-middle d-block d-sm-inline text-600">
                                Description History
                            </span>
                        </label>
                        </div>
                    </div>
                </div>
                <div class="card-body px-1 px-md-3">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label for="id-form-field-1" class="mb-0">
                                Add Description
                            </label>
                        </div>
                        <div class="col-md-4">
                            <textarea id="DescriptionHistory" type="text" formControlName="DescriptionHistory" maxlength="500" class="form-control" placeholder="Add Description" [ngClass]="{'border-danger': ((addRequestFormControl.DescriptionHistory.touched || submitted) && addRequestFormControl.DescriptionHistory.errors?.required)}">
                            </textarea>
                            <span class="form-text text-danger" *ngIf="(addRequestFormControl.DescriptionHistory.touched || submitted) && (addRequestFormControl.DescriptionHistory.errors?.required || addRequestFormControl.DescriptionHistory.invalid)">
                            {{getErrorMessage('DescriptionHistory')}}
                        </span>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-green btn-bold px-4" type="button" (click)="addDescription()">
                                <i class="fa fa-check mr-1"></i>
                                <span >Update</span>
                              </button>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
                <div class="card-body px-1 px-md-3">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <table id="simple-table" *ngIf="this.descriptionHistorylist.length > 0" class="mb-0 table table-borderless table-bordered-x brc-secondary-l3 text-dark-m2 radius-1 overflow-hidden">
                                <thead class="text-dark-tp3 bgc-grey-l4 text-90 border-b-1 brc-transparent">
                                    <tr>
                                        <th class="d-none d-sm-table-cell">Sr. No.</th>
                                        <th class="d-none d-sm-table-cell">Added By</th>
                                        <th class="d-none d-sm-table-cell">Created On</th>
                                        <th class="d-none d-sm-table-cell">Description</th>
                                    </tr>
                                </thead>
                                <tbody class="mt-1" *ngFor="let data of descriptionHistorylist">
                                    <tr class="bgc-h-yellow-l4 d-style">
                                        <td>{{ data.HistoryID}}</td>
                                        <td>{{ data.AddedBy}}</td>
                                        <td>{{ data.CreatedOn | date:'dd-MMM-yyyy'}}</td>
                                        <td>{{ data.DescriptionHistory}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>