
<div class="dropzone" class="dropzone bgc-white brc-dark-l3 brc-h-primary-m4 bgc-h-primary-l4 radius-1 mt-3" [dropzone]="config">
    <div class="dz-default dz-message">
        <span class="text-150  text-grey-d2">
            <span class="text-130 font-bolder"><i class="fa fa-caret-right text-danger-m1"></i> Drop files</span>
            to upload
            <span class="text-90 text-grey-m1">(or click)</span>
            <br />
            <i class="upload-icon fas fa-cloud-upload-alt text-blue-m1 fa-3x mt-4"></i>
        </span>
    </div>
</div>