<div #card="NgAceCard" NgAceCard class="card ccard">
    <div class="card-header flex-wrap pb-0">
        <h5 class="card-title text-primary-d2">
            Tabbed
        </h5>

        <div class="card-toolbar no-border ml-auto">
            <ul ngbNav #nav="ngbNav" class="nav nav-tabs nav-tabs-simple nav-tabs-scroll nav-tabs-static" role="tablist">
                <li [ngbNavItem]="1" class="nav-item mr-2">
                    <a ngbNavLink [NgAceClass]='{"-1": "nav-link"}' class="btn btn-light-lightgrey btn-brc-tp btn-h-light-dark btn-a-outline-primary bgc-white py-25 px-2 border-none border-b-4 text-95">
                        <i class="fa fa-home mr-2px"></i>
                        Home
                    </a>
                    <ng-template ngbNavContent>
                        <p>
                            <b>1.</b> Nibh sed pulvinar proin gravida hendrerit lectus a. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium.
                        </p>
                        <p>
                            Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. 
                        </p>
                        <p>
                            Quis viverra nibh cras pulvinar. Netus et malesuada fames ac.
                        </p>
                    </ng-template>
                </li>

                <li [ngbNavItem]="2" class="nav-item mr-2">
                    <a ngbNavLink [NgAceClass]='{"-1": "nav-link"}' class="btn btn-light-lightgrey btn-brc-tp btn-h-light-dark btn-a-outline-primary bgc-white py-25 px-2 border-none border-b-4 text-95">
                        <i class="fa fa-home mr-2px"></i>
                        Profile
                    </a>
                    <ng-template ngbNavContent>
                        <p>
                            <b>2.</b> Nibh sed pulvinar proin gravida hendrerit lectus a. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium.
                        </p>
                        <p>
                            Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. 
                        </p>
                        <p>
                            Quis viverra nibh cras pulvinar. Netus et malesuada fames ac.
                        </p>
                    </ng-template>
                </li>

                <li [ngbNavItem]="3" class="nav-item">
                    <a ngbNavLink [NgAceClass]='{"-1": "nav-link"}' class="btn btn-light-lightgrey btn-brc-tp btn-h-light-dark btn-a-outline-primary bgc-white py-25 px-2 border-none border-b-4 text-95">
                        More
                        <i class="fa fa-ellipsis-v ml-2px opacity-2"></i>
                    </a>
                    <ng-template ngbNavContent>
                        <p>
                            <b>3.</b> Nibh sed pulvinar proin gravida hendrerit lectus a. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium.
                        </p>
                        <p>
                            Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. 
                        </p>
                        <p>
                            Quis viverra nibh cras pulvinar. Netus et malesuada fames ac.
                        </p>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div><!-- /.card-header -->

    <div class="card-body p-4">
        <div [ngbNavOutlet]="nav" class="border-0 p-1"></div>
    </div><!-- /.card-body -->
</div><!-- /.card -->