<!-- page header and toolbox -->
<div class="page-header pb-2">
    <h1 class="page-title text-primary-d2 text-150">
        Dashboard
        <small class="page-info text-secondary-d2 text-nowrap" *ngIf="!isUpdate">
            <i class="fa fa-angle-double-right text-80"></i>
            Add Group
        </small>
        <small class="page-info text-secondary-d2 text-nowrap" *ngIf="isUpdate">
            <i class="fa fa-angle-double-right text-80"></i>
            Update Package
        </small>
    </h1>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card dcard">
            <div class="card-body px-1 px-md-3">

                <form class="mt-lg-3" [formGroup]="addgroup" autocomplete="off">
                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Name
                          </label>
                        </div>
                        <div class="col-sm-6">
                            <input id="name" type="text" formControlName="name" class="form-control" [ngClass]="{'border-danger': ((addgroupFormControl.name.touched || submitted) && addgroupFormControl.name.errors?.required)}">
                        </div>
                        <div class="col-sm-3 col-form-label text-sm-left pr-0">
                            <span class="form-text text-danger" *ngIf="(addgroupFormControl.name.touched || submitted) && (addgroupFormControl.name.errors?.required || addgroupFormControl.name.invalid)">
                                {{getErrorMessage('name')}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Description
                          </label>
                        </div>
                        <div class="col-sm-6">
                            <input id="description" type="text" formControlName="description" class="form-control" [ngClass]="{'border-danger': ((addgroupFormControl.description.touched || submitted) && addgroupFormControl.description.errors?.required)}">
                        </div>
                        <div class="col-sm-3 col-form-label text-sm-left pr-0">
                            <span class="form-text text-danger" *ngIf="(addgroupFormControl.description.touched || submitted) && (addgroupFormControl.description.errors?.required || addgroupFormControl.description.invalid)">
                                {{getErrorMessage('description')}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label text-sm-right pr-0">
                            <label for="id-form-field-1" class="mb-0">
                                Access
                          </label>
                        </div>
                        <div class="col-sm-6">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Area</th>
                                        <th>Add</th>
                                        <th>Update</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of grouplist">
                                        <th>{{ item.Name }}</th>
                                        <td><input type="checkbox" id="add" class="form-control" checked="{{ item.Add }}" /></td>
                                        <td><input type="checkbox" id="update" class="form-control" checked="{{ item.Update }}" /></td>
                                        <td><input type="checkbox" id="view" class="form-control" checked={{item.View}} /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-3 col-form-label text-sm-left pr-0">

                        </div>
                    </div>

                    <div class="mt-5 border-t-1 bgc-secondary-l4 brc-secondary-l2 py-35 mx-n25">
                        <div class="offset-md-3 col-md-9 text-nowrap">
                            <button class="btn btn-info btn-bold px-4" type="button" (click)="!isUpdate ? addnewpackage() : updatepackage()">
                          <i class="fa fa-check mr-1"></i>
                          {{btntxt}}
                        </button>
                            <button class="btn btn-outline-lightgrey btn-bgc-white btn-bold ml-2 px-4" type="reset" (click)="cancel()" *ngIf="!isUpdate">
                          <i class="fa fa-undo mr-1"></i>
                          Cancel
                        </button>
                        </div>
                    </div>
                </form>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>