<div *ngIf="!isClosed()" #card="NgAceCard" NgAceCard class="card ccard">
    <div class="card-progress"><!-- the loading/progressing bar -->
        <div class="card-progressbar bgc-blue-d2"></div>
    </div>

    <div class="card-header card-header-lg">
        <h5 class="card-title text-130 text-dark-m3">
            Big Header with Progress
        </h5>
        
        <div class="card-toolbar no-border">
            <a role="button" (click)="reload()" class="card-toolbar-btn btn btn-sm radius-round btn-green mx-2px">
                <i class="fas fa-sync-alt w-2 mx-1px"></i>
            </a>

            <a role="button" (click)="toggle()" class="card-toolbar-btn btn btn-sm radius-round btn-grey mx-2px">
                <i *ngIf="!collapse.collapsed" class="fa fa-chevron-up w-2 mx-1px"></i>
                <i *ngIf="collapse.collapsed" class="fa fa-chevron-down w-2 mx-1px"></i>
            </a>

            <a role="button" (click)="close()" class="card-toolbar-btn btn btn-sm radius-round btn-red mx-2px">
                <i class="fa fa-times w-2 mx-1px"></i>
            </a>
        </div>
    </div><!-- /.card-header -->

    <div class="card-body p-0" #collapse="ngbCollapse" [ngbCollapse]="defaultExpanded()">
     <div class="p-3">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua!
        </p>
     </div>
    </div><!-- /.card-body -->
</div><!-- /.card -->